In [160]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 300)
pd.set_option('display.max_columns', 100)

In [161]:
bb = pd.read_csv('../data/broadband_subscriptions.csv', skiprows=4)

In [162]:
bb.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.000000,15.000000,58.000000,100.000000,136.000000,158.000000,175.000000,208.000000,203.000000,228.000000,236.000000,239.000000,245.000000,234.000000,242.000000,247.000000,247.000000,248.000000,243.000000,245.000000,223.000000,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.190499,0.522253,0.885342,1.308372,1.838455,2.545660,3.608037,4.574410,6.139564,6.769016,7.865661,8.973576,9.477452,10.307675,10.732650,11.329344,12.024979,12.697522,13.161680,13.865903,14.943650,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.173419,0.592409,1.581686,2.534452,3.390274,4.338664,5.537520,7.143529,8.749650,9.737515,10.589397,11.313142,11.564629,11.502488,11.821488,12.450862,12.794319,13.178539,13.480909,13.882549,14.156015,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000589,0.000288,0.000202,0.000197,0.000000,0.000000,0.000000,0.000000,0.000000,0.000351,0.000190,0.000418,0.000000,0.000041,0.000000,0.000000,0.000000,0.001312,0.001269,0.001229,0.001822,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.027602,0.020762,0.015997,0.024865,0.023790,0.044369,0.072754,0.096055,0.168130,0.134243,0.170048,0.245853,0.326820,0.645989,0.583094,0.711770,1.007795,0.922677,0.974952,1.203565,1.502271,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.171420,0.224277,0.194944,0.177695,0.278876,0.431771,0.862443,1.097192,1.915801,2.073828,2.739673,3.690545,4.450539,5.675480,5.490379,6.672145,7.180321,8.114828,8.734755,9.431392,11.688543,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.268092,0.873692,1.158844,1.372140,2.327546,3.123394,4.659911,4.307271,7.682584,8.479622,11.317183,14.470506,15.284455,19.022802,19.074998,19.621372,21.172119,21.455676,22.669254,24.305528,27.064583,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.479498,1.920633,8.168134,16.387841,21.678300,23.162642,24.583611,28.070798,35.688625,43.549729,51.500811,60.906904,61.325299,44.192760,44.591333,62.280620,54.239220,48.661117,48.894142,51.509132,57.037784,NaN

In [163]:
columns_to_drop = np.array(range(1960,1998))
bb.drop(columns=columns_to_drop.astype('str'), inplace=True)

In [189]:
bb.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aruba,ABW,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,NaN,NaN,NaN,NaN,NaN,1.442015,7.052068,12.270196,13.837594,15.802889,18.149529,18.530383,18.901533,NaN,NaN,18.612045,18.501744,18.209525,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,NaN,NaN,NaN,NaN,NaN,NaN,0.000809,0.000858,0.001892,0.001845,0.001804,0.003522,0.005140,NaN,0.004814,0.004648,0.004495,0.020535,0.024874,0.046313,0.043041,NaN
2,Angola,AGO,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.037013,0.055966,0.073480,0.066624,0.064223,0.065304,0.081695,0.085648,0.325702,0.550742,0.293747,0.325049,0.355605,NaN
3,Albania,ALB,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.008812,NaN,0.329598,2.131431,3.094467,3.579992,4.377872,5.493573,6.286818,7.180321,8.402315,9.228641,10.526845,12.555659,NaN
4,Andorra,AND,Fixed broadband subscriptions (per 100 people),IT.NET.BBND.P2,NaN,NaN,NaN,NaN,1.638853,4.920609,8.239337,13.111948,18.046004,22.405786,24.650020,27.161005,29.013961,30.762893,32.641004,34.335306,36.319796,39.345733,42.032679,44.524097,46.311976,NaN

In [165]:
countries = pd.read_csv('../data/country-codes_csv.csv')

In [166]:
bb.groupby('Country Code')['Country Code'].last().isin(countries['ISO3166-1-Alpha-3'])

Country Code
ABW     True
AFG     True
AGO     True
ALB     True
AND     True
ARB    False
ARE     True
ARG     True
ARM     True
ASM     True
ATG     True
AUS     True
AUT     True
AZE     True
BDI     True
BEL     True
BEN     True
BFA     True
BGD     True
BGR     True
BHR     True
BHS     True
BIH     True
BLR     True
BLZ     True
BMU     True
BOL     True
BRA     True
BRB     True
BRN     True
BTN     True
BWA     True
CAF     True
CAN     True
CEB    False
CHE     True
CHI    False
CHL     True
CHN     True
CIV     True
CMR     True
COD     True
COG     True
COL     True
COM     True
CPV     True
CRI     True
CSS    False
CUB     True
CUW     True
CYM     True
CYP     True
CZE     True
DEU     True
DJI     True
DMA     True
DNK     True
DOM     True
DZA     True
EAP    False
EAR    False
EAS    False
ECA    False
ECS    False
ECU     True
EGY     True
EMU    False
ERI     True
ESP     True
EST     True
ETH     True
EUU    False
FCS    False
FIN     True
FJI     True
FRA     True
FRO     True
FSM     True
GAB     True
GBR     True
GEO     True
GHA     True
GIB     True
GIN     True
GMB     True
GNB     True
GNQ     True
GRC     True
GRD     True
GRL     True
GTM     True
GUM     True
GUY     True
HIC    False
HKG     True
HND     True
HPC    False
HRV     True
HTI     True
HUN     True
IBD    False
IBT    False
IDA    False
IDB    False
IDN     True
IDX    False
IMN     True
IND     True
INX    False
IRL     True
IRN     True
IRQ     True
ISL     True
ISR     True
ITA     True
JAM     True
JOR     True
JPN     True
KAZ     True
KEN     True
KGZ     True
KHM     True
KIR     True
KNA     True
KOR     True
KWT     True
LAC    False
LAO     True
LBN     True
LBR     True
LBY     True
LCA     True
LCN    False
LDC    False
LIC    False
LIE     True
LKA     True
LMC    False
LMY    False
LSO     True
LTE    False
LTU     True
LUX     True
LVA     True
MAC     True
MAF     True
MAR     True
MCO     True
MDA     True
MDG     True
MDV     True
MEA    False
MEX     True
MHL     True
MIC    False
MKD     True
MLI     True
MLT     True
MMR     True
MNA    False
MNE     True
MNG     True
MNP     True
MOZ     True
MRT     True
MUS     True
MWI     True
MYS     True
NAC    False
NAM     True
NCL     True
NER     True
NGA     True
NIC     True
NLD     True
NOR     True
NPL     True
NRU     True
NZL     True
OED    False
OMN     True
OSS    False
PAK     True
PAN     True
PER     True
PHL     True
PLW     True
PNG     True
POL     True
PRE    False
PRI     True
PRK     True
PRT     True
PRY     True
PSE     True
PSS    False
PST    False
PYF     True
QAT     True
ROU     True
RUS     True
RWA     True
SAS    False
SAU     True
SDN     True
SEN     True
SGP     True
SLB     True
SLE     True
SLV     True
SMR     True
SOM     True
SRB     True
SSA    False
SSD     True
SSF    False
SST    False
STP     True
SUR     True
SVK     True
SVN     True
SWE     True
SWZ     True
SXM     True
SYC     True
SYR     True
TCA     True
TCD     True
TEA    False
TEC    False
TGO     True
THA     True
TJK     True
TKM     True
TLA    False
TLS     True
TMN    False
TON     True
TSA    False
TSS    False
TTO     True
TUN     True
TUR     True
TUV     True
TZA     True
UGA     True
UKR     True
UMC    False
URY     True
USA     True
UZB     True
VCT     True
VEN     True
VGB     True
VIR     True
VNM     True
VUT     True
WLD    False
WSM     True
XKX    False
YEM     True
ZAF     True
ZMB     True
ZWE     True
Name: Country Code, dtype: bool

Not all country codes are ISO codes. We will have to fix it.

In [167]:
bbb = bb.merge(countries['ISO3166-1-Alpha-3'], how='left', left_on='Country Code', right_on='ISO3166-1-Alpha-3')

In [168]:
import difflib
def get_country_iso(name):
    p = difflib.get_close_matches(name, countries['official_name_en'].dropna().unique(), n=1, cutoff=0.5)
    if len(p)>0:
        return countries[countries['official_name_en']==p[0]]['ISO3166-1-Alpha-3'].to_list()[0]
    else:
        return ""

In [169]:
bbb.loc[bbb['ISO3166-1-Alpha-3'].isna(),'ISO3166-1-Alpha-3'] = [get_country_iso(x) for x in bbb.loc[bbb['ISO3166-1-Alpha-3'].isna(),'Country Name']]
bbb[bbb['ISO3166-1-Alpha-3']=='']['Country Name'].unique()

array(['Central Europe and the Baltics',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'European Union',
       'Fragile and conflict affected situations', 'High income',
       'Heavily indebted poor countries (HIPC)', 'IBRD only',
       'IDA & IBRD total', 'IDA only', 'Not classified',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & Caribbean',
       'Least developed countries: UN classification',
       'Lower middle income', 'Low & middle income',
       'Late-demographic dividend',
       'Middle East & North Africa (excluding high income)',
       'OECD members', 'Pre-demographic dividend',
       'Pacific island small states', 'Post-demographic dividend',
       'Sub-Saharan Africa (excluding high income)',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income',
       'Kosovo'], dtype=object)

None of the missing values correspond to a country. So, we can drop the rows.

In [170]:
bbbb = bbb.drop(index=bbb[bbb['ISO3166-1-Alpha-3']==''].index)
bbbb[bbbb['ISO3166-1-Alpha-3']=='']['Country Name'].unique()

array([], dtype=object)

In [171]:
bbbb.drop(columns=['Country Name', 'Indicator Name', 'Indicator Code'], inplace=True)

In [172]:
bbbb.rename(columns={'ISO3166-1-Alpha-3': 'country_iso'}, inplace=True)

In [190]:
bbbb.head()

,Country Code,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,country_iso
0,ABW,NaN,NaN,NaN,NaN,NaN,1.442015,7.052068,12.270196,13.837594,15.802889,18.149529,18.530383,18.901533,NaN,NaN,18.612045,18.501744,18.209525,NaN,NaN,NaN,NaN,ABW
1,AFG,NaN,NaN,NaN,NaN,NaN,NaN,0.000809,0.000858,0.001892,0.001845,0.001804,0.003522,0.005140,NaN,0.004814,0.004648,0.004495,0.020535,0.024874,0.046313,0.043041,NaN,AFG
2,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.037013,0.055966,0.073480,0.066624,0.064223,0.065304,0.081695,0.085648,0.325702,0.550742,0.293747,0.325049,0.355605,NaN,AGO
3,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.008812,NaN,0.329598,2.131431,3.094467,3.579992,4.377872,5.493573,6.286818,7.180321,8.402315,9.228641,10.526845,12.555659,NaN,ALB
4,AND,NaN,NaN,NaN,NaN,1.638853,4.920609,8.239337,13.111948,18.046004,22.405786,24.650020,27.161005,29.013961,30.762893,32.641004,34.335306,36.319796,39.345733,42.032679,44.524097,46.311976,NaN,AND

In [178]:
columns_to_melt = np.array(range(1998,2020)).astype('str')

In [179]:
bb_new = bbbb.melt(id_vars=["country_iso"], value_vars=columns_to_melt,
        var_name="year", 
        value_name="broadband_subscriptions_per100")

In [180]:
pd.set_option('display.max_rows', None)
bb_new = bb_new.sort_values(['country_iso', 'year'])

Now, we will drop the rows containing no value for the feature:

In [182]:
bb_new.drop(index=bb_new[bb_new['broadband_subscriptions_per100'].isna()].index, inplace=True)

In [184]:
bb_new.head()

     country_iso  year  broadband_subscriptions_per100
1155         ABW  2003                        1.442015
1386         ABW  2004                        7.052068
1617         ABW  2005                       12.270196
1848         ABW  2006                       13.837594
2079         ABW  2007                       15.802889

In [185]:
bb_new.to_csv('../data/converted/broadband_subscriptions.csv', index=False)

In [188]:
bb_saved = pd.read_csv('../data/converted/broadband_subscriptions.csv')
bb_saved.head()

  country_iso  year  broadband_subscriptions_per100
0         ABW  2003                        1.442015
1         ABW  2004                        7.052068
2         ABW  2005                       12.270196
3         ABW  2006                       13.837594
4         ABW  2007                       15.802889