In [1]:
import pandas as pd
import difflib
pd.set_option('display.max_rows', 300)
pd.set_option('display.max_columns', 100)

In [27]:
df = pd.read_csv('../data/happiness_index.csv', delimiter=';', header=None)

In [28]:
df.rename(columns={0: 'country_name', 1: 'happiness_index'}, inplace=True)

In [29]:
countries = pd.read_csv('../data/country-codes_csv.csv')

In [30]:
def get_country_iso(name):
    p = difflib.get_close_matches(name, countries['official_name_en'].dropna().unique(), n=1, cutoff=0.5)
    if len(p)>0:
        return countries[countries['official_name_en']==p[0]]['ISO3166-1-Alpha-3'].to_list()[0]
    else:
        return ""

In [34]:
df['country_iso'] = [get_country_iso(x) for x in df['country_name']]
df[df['country_iso']=='']

                  country_name happiness_index country_iso
24    Taiwan Province of China           6,446
45                      Kosovo           6,100
75   Hong Kong S.A.R. of China           5,430
98                 Ivory Coast           4,944
102        Congo (Brazzaville)           4,812

In [32]:
df[df['country_name'].str.contains('Congo')]

            country_name happiness_index country_iso
102  Congo (Brazzaville)           4,812
126     Congo (Kinshasa)           4,418         MNG

In [37]:
df.ix[24,'country_iso'] = 'TWN'
df.ix[45,'country_iso'] = 'RKS'
df.ix[75,'country_iso'] = 'HKG'
df.ix[98,'country_iso'] = 'CIV'
df.drop(102, inplace=True)

/Users/ricardostamato/miniconda3/envs/ml/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/Users/ricardostamato/miniconda3/envs/ml/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

/Users/ricardostamato/miniconda3/envs/ml/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/ricardostamato/miniconda3/envs/ml/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.

In [38]:
df[df['country_iso']=='']

Empty DataFrame
Columns: [country_name, happiness_index, country_iso]
Index: []

In [39]:
df.drop(columns=['country_name'], inplace=True)

In [40]:
df.to_csv('../data/converted/happiness_index.csv', index=False)

In [41]:
df_saved = pd.read_csv('../data/converted/happiness_index.csv')
df_saved

    happiness_index country_iso
0             7,769         FIN
1             7,600         DNK
2             7,554         NOR
3             7,494         ISL
4             7,488         NLD
5             7,480         CHE
6             7,343         SWE
7             7,307         NZL
8             7,278         CAN
9             7,246         AUT
10            7,228         AUS
11            7,167         CRI
12            7,139         ISR
13            7,090         LUX
14            7,054         MNE
15            7,021         IRL
16            6,985         DEU
17            6,923         BEL
18            6,892         USA
19            6,852         CAF
20            6,825         ARE
21            6,726         MLT
22            6,595         MEX
23            6,592         FRA
24            6,446         TWN
25            6,444         CHL
26            6,436         GTM
27            6,375         SAU
28            6,374         QAT
29            6,354         ESP
30            6,321         PAN
31            6,300         BRA
32            6,293         URY
33            6,262         SGP
34            6,253         SLV
35            6,223         ITA
36            6,199         BHR
37            6,198         SVK
38            6,192         TTO
39            6,182         POL
40            6,174         UZB
41            6,149         LTU
42            6,125         COL
43            6,118         SVN
44            6,105         NIC
45            6,100         RKS
46            6,086         ARG
47            6,070         ROU
48            6,046         CYP
49            6,028         ECU
50            6,021         KWT
51            6,008         THA
52            5,940         LVA
53            5,895         ZAF
54            5,893         EST
55            5,890         JAM
56            5,888         MUS
57            5,886         JPN
58            5,860         HND
59            5,809         KAZ
60            5,779         SOM
61            5,758         HUN
62            5,743         PRY
63            5,718         CYP
64            5,697         PER
65            5,693         PRT
66            5,653         PAK
67            5,648         TUN
68            5,631         PHL
69            5,603         SRB
70            5,529         MDA
71            5,525         LBY
72            5,523         MNE
73            5,467         TJK
74            5,432         HRV
75            5,430         HKG
76            5,425         DOM
77            5,386         BIH
78            5,373         TUR
79            5,339         MYS
80            5,323         BLR
81            5,287         GRC
82            5,285         MNG
83            5,274         NCL
84            5,265         NGA
85            5,261         KGZ
86            5,247         TKM
87            5,211         DZA
88            5,208         MAR
89            5,208         AZE
90            5,197         LBN
91            5,192         IDN
92            5,191         CHN
93            5,175         VNM
94            5,082         BTN
95            5,044         CMR
96            5,011         BGR
97            4,996         GHA
98            4,944         CIV
99            4,913         NPL
100           4,906         JOR
101           4,883         BEN
102           4,799         GAB
103           4,796         LBN
104           4,722         ZAF
105           4,719         ALB
106           4,707         SEN
107           4,700         KHM
108           4,696         ATF
109           4,681         SEN
110           4,668         SOM
111           4,639         NAM
112           4,628         NER
113           4,587         BFA
114           4,559         ARM
115           4,548         IRQ
116           4,534         GIN
117           4,519         GEO
118           4,516         GMB
119           4,509         KEN
120           4,490         MRT
121           4,466         MOZ
122           4,461         TUN
123           4,456         BGD
124           4,437         IRQ
125           4,418         MNG
126           4,390         MLI
127           4,374         SLE
128           4,366         LKA
129           4,360         MMR
130           4,350         TCD
131           4,332         UKR
132           4,286         ETH
133           4,212         SWZ
134           4,189         UGA
135           4,166         EGY
136           4,107         ZMB
137           4,085         TGO
138           4,015         IND
139           3,975         LBR
140           3,973         COM
141           3,933         MDG
142           3,802         LSO
143           3,775         BDI
144           3,663         ZWE
145           3,597         HTI
146           3,488         BWA
147           3,462         SRB
148           3,410         MWI
149           3,380         YEM
150           3,334         RWA
151           3,231         PAN
152           3,203         AFG
153           3,083         CAF
154           2,853         SSD