In [12]:
import pandas as pd
pd.set_option('display.max_rows', 300)
pd.set_option('display.max_columns', 100)

In [13]:
import glob

path = r'../data/converted' # use your path
all_files = glob.glob(path + "/*.csv")

dfs = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None)
    dfs.append(df)

In [14]:
len(dfs)

40

In [15]:
dfs[0].head()

   year  gii_human_capital country_iso
0  2019               66.5         KOR
1  2019               63.4         FIN
2  2019               63.2         DEU
3  2019               63.1         DNK
4  2019               63.0         SGP